@use 'variables' as v;
@use 'animation' as a;

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: v.$primaryDarkTextColor;
  background-color: v.$primaryDarkBgColor;
  font-size: 1.2rem;
}

.wrapper {
  margin: 20px;

  .sectionTitle {
    position: relative;
    margin: 0 0 15px 0;
    padding-bottom: 5px;
    width: max-content;
  }

  .sectionTitle:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: v.$additionalColor;
    bottom: 0;
  }
}

// --- Header ---
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .primaryDescription {
    padding-bottom: 20px;

    h1.first {
      color: v.$additionalColor;
      @include a.slideRight(0s);
    }

    h1.secound {
      color: v.$additionalColor;
      @include a.slideRight(0.5s);
    }

    h2.third {
      color: v.$additionalColor;
      @include a.slideRight(1s);
    }
  }

  .secoundaryDescription {
    text-align: center;
    @include a.appereance(1s)
  }
}

// --- Skills ---
.wrapper.skills {
  padding-bottom: 80px;
  // height: 100vh;

  .skillList {

    h2 {
      margin-bottom: 10px;
    }

    .skillBox {
      background-color: v.$secoundaryDarkBgColor;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin-bottom: 20px;

      p {
        padding-bottom: 10px;
      }

      .progressBar {
        background-color: hsl(135deg, 100%, 20%);
        width: 100%;
        height: 10px;
        overflow: hidden;
        border-radius: 10px;
        position: relative;

        .progress {
          background-color: v.$additionalColor;
          position: absolute;
          height: 100%;
        }
      }
    }
  }
}

// --- Projects ---
.wrapper.projects {

  .project {
    box-shadow: 0px 0px 10px 2px v.$secoundaryDarkBgColor;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;

    .projectImage {
      img {
        width: 100%;
        height: 250px;
      }
    }

    .projectDescription {
      padding: 10px;

      .title {
        position: relative;
        width: max-content;
        margin: 0;
        margin-bottom: 10px;

        h3 {
          padding-left: 5px;
        }

      }

      .title:before {
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        background-color: v.$additionalColor;
        border-radius: 6px;
      }
    }

    .projectLink {
      display: flex;
      justify-content: center;
      padding: 0 10px 10px 10px;

      a {
        color: v.$additionalColor;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        border: 1px solid v.$additionalColor;
        border-radius: 10px;
        width: 100%;
      }
    }
  }
}

// --- Contact ---
.wrapper.contact {

  .iconContainer {
    display: flex;

    a {
      img {
        width: 32px;
      }
    }

  }
}