@use 'variables' as v;
@use 'animation' as a;
@use 'media-screen' as ms;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: v.$primaryDarkTextColor;
  background-color: v.$primaryDarkBgColor;
  font-size: 1.2rem;
  font-family: v.$font-stack;
}

a {
  text-decoration: none;
  color: v.$primaryDarkTextColor;
}

.wrapper {
  @include ms.tablet {
    margin: 20px 40px;
  }

  @include ms.desktop {
    max-width: calc(1200px);
    padding: 0 40px;
    margin: 20px auto !important;
  }

  margin: 20px;

  .sectionTitle {
    position: relative;
    margin: 0 0 20px 0;
    padding-bottom: 5px;
    width: max-content;

    &:before {
      content: '';
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: v.$additionalColor;
      bottom: 0;
    }
  }

}

// --- Header ---
header {
  @include ms.desktop {
    font-size: 1.4rem;
  }

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;

  .wrapper.header {
    @include ms.desktop {
      display: flex;

      .headerBox {
        width: 50%;

        &.right {
          display: flex;
          justify-content: center;
          padding-bottom: 40px;

          .options {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            a {
              padding: 10px 0;
            }
          }
        }
      }
    }

    .primaryDescription {
      padding-bottom: 20px;

      .headingBox {
        overflow: hidden;

        &.first {
          h2 {
            @include ms.tablet {
              font-size: 2em
            }

            @include a.slideTop(0s);
          }
        }

        &.secound {
          h2 {
            @include a.slideTop(0.1s);
          }
        }

        &.third {
          h2 {
            @include a.slideTop(0.2s);
          }
        }

        span {
          color: v.$additionalColor;
        }
      }
    }

    .secoundaryDescription {
      padding-bottom: 40px;
      @include a.appereance(1s)
    }

    .headerBox.right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .options {
      width: max-content;
      @include a.appereance(1s);

      h3 {
        padding: 5px 0 5px 0;
        position: relative;
        overflow: hidden;

        a {
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: 0;
            background-color: v.$additionalColor;
            border-radius: 6px;
            transform: translateX(-110%);
            transition: transform 0.3s ease;
          }

          &:hover {
            &:before {
              transform: translateX(0);
            }
          }
        }
      }
    }

    .scrollDown {
      position: absolute;
      bottom: 120px;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;

      .arrow {

        img {
          @include a.moving(1s);
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }
  }

}

// --- Skills ---
.wrapper.skills {
  padding-bottom: 80px;

  .skillList {

    h2 {
      margin-bottom: 10px;
    }

    .skillBox {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      padding: 5px 0;
      margin-bottom: 20px;

      p {
        padding-bottom: 10px;
      }

      .progressBar {
        background-color: hsl(135deg, 100%, 20%);
        width: 100%;
        height: 20px;
        overflow: hidden;
        border-radius: 10px;
        position: relative;

        .progress {
          background-color: v.$additionalColor;
          position: absolute;
          height: 100%;
          overflow: hidden;
        }

        span {
          position: absolute;
          right: 0;
          padding-right: 5px;
        }
      }
    }
  }
}

// --- Projects ---
.wrapper.projects {
  padding-bottom: 80px;

  .project {
    @include ms.tablet {
      display: flex;
    }

    box-shadow: 0px 0px 10px 2px v.$secoundaryDarkBgColor;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;

    .projectImage {
      @include ms.tablet {
        width: 35%;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .informationWrapper {

      @include ms.tablet {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 65%;
      }

      .projectDescription {
        padding: 10px;

        .title {
          position: relative;
          width: max-content;
          margin: 0;
          margin-bottom: 10px;

          h3 {
            padding-left: 5px;
          }

          &:before {
            content: '';
            position: absolute;
            width: 3px;
            height: 100%;
            background-color: v.$additionalColor;
            border-radius: 6px;
          }
        }

      }

      .projectLink {
        display: flex;
        justify-content: center;
        padding: 0 10px 10px 10px;

        a {
          @include ms.desktop {
            width: max-content;
          }

          color: v.$additionalColor;
          text-decoration: none;
          text-align: center;
          padding: 10px 20px;
          border: 1px solid v.$additionalColor;
          border-radius: 10px;
          width: 100%;
          transition: all .2s ease-in;

          &:hover {
            color: v.$primaryDarkTextColor;
            background-color: v.$additionalColor;
          }
        }
      }
    }

  }
}

// --- Contact ---
section#contact {
  background-color: v.$secoundaryDarkBgColor;
  overflow: hidden;
}

.wrapper.contact {
  @include ms.desktop {
    padding: 20px 40px;
  }

  padding: 20px 0;

  .iconContainer {
    @include ms.desktop {
      justify-content: space-evenly;
    }

    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    a {
      border: 2px solid v.$primaryDarkBgColor;
      border-radius: 50%;
      padding: 10px;
      display: flex;

      img {
        width: 24px;
        height: 24px;
      }
    }

  }
}